<div id="login-box">
  <div class="left">
    <h1>Register</h1>
    <div class="form-group">
      <label class="label" id="label1">LAST NAME</label>
      <input class="input" type="text" id="LastName" name="LAST NAME">
    </div>
    <label class="label" id="label2">FIRST NAME</label>
    <input class="input" type="text" id="First Name" name="FIRST NAME" required>
    <label class="label" id="label3">E-MAIL</label>
    <input class="input" type="email" id="Email" name="EMAIL" ng-model="user.email">
    <label class="label" id="label4">PHONE NUMBER</label>
    <input class="input" type="contact" id="Phone Number" name="PHONE NUMBER" required>
    <label class="label" id="label5">PASSWORD</label>
    <input class="input" type="password" id="Password" name="PASSWORD" required>
    <label class="label" id="label6">CONFIRM PASSWORD</label>
    <input class="input" type="password" id="Confirm Password" name="CONFIRM PASSWORD" required>
    <button class="button" (click)="openDialog()">button</button>
  </div>
</div>
